In [1]:
import mysql.connector
import pandas as pd

In [2]:
from mysql.connector.errors import Error

In [3]:
# MySQL connection details
mysql_host = "mysql"
mysql_user = "root" #"workshop_user"
mysql_password = "rootpassword" #"workshop_password"
mysql_database = "workshop_db"

# Create a connection to the MySQL database
conn = mysql.connector.connect(
    host=mysql_host, user=mysql_user, password=mysql_password, database=mysql_database
)

In [4]:
cursor = conn.cursor()

In [5]:
full_join_query = """SELECT *
FROM beers, breweries, categories, styles, breweries_geocode
WHERE TRUE
AND beers.brewery_id = breweries.id
AND beers.cat_id = categories.id
AND beers.style_id = styles.id
AND breweries.id = breweries_geocode.id
INTO OUTFILE '/var/lib/mysql-files/beers_full.csv' FIELDS TERMINATED BY ',' ENCLOSED BY '\"' LINES TERMINATED BY '\n'
;"""
cursor.execute(full_join_query)

**NOW** operate `mv /var/lib/mysql-files/beers_full.csv /data/`

In [20]:
full_join_query = """SELECT *
FROM beers, breweries, categories, styles, breweries_geocode
WHERE TRUE
AND beers.brewery_id = breweries.id
AND beers.cat_id = categories.id
AND beers.style_id = styles.id
AND breweries.id = breweries_geocode.id
LIMIT 10
;"""
df = pd.read_sql_query(full_join_query, con=conn)
df

/tmp/ipykernel_144/2776240053.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(full_join_query, con=conn)

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,filepath,...,last_mod,id,cat_id,style_name,last_mod,id,brewery_id,latitude,longitude,accuracy
0,1,812,Hocus Pocus,11,116,4.5,0.0,0.0,0,,...,2010-06-08 00:00:00,116,11,Light American Wheat Ale or Lager,2010-06-15 19:45:42,812,862,39.6120,-105.0190,ROOFTOP
1,8,1099,Oatmeal Stout,3,42,5.0,0.0,0.0,0,,...,2010-06-08 00:00:00,42,3,American-Style Stout,2010-06-15 19:25:11,1099,1161,43.4768,-110.7650,RANGE_INTERPOLATED
2,10,545,Chocolate Stout,3,42,0.0,0.0,0.0,0,,...,2010-06-08 00:00:00,42,3,American-Style Stout,2010-06-15 19:25:11,545,583,41.9273,-87.6807,RANGE_INTERPOLATED
3,13,545,The Kidd Lager,7,86,0.0,0.0,0.0,0,,...,2010-06-08 00:00:00,86,7,German-Style Schwarzbier,2010-06-15 19:37:36,545,583,41.9273,-87.6807,RANGE_INTERPOLATED
4,14,1099,Imperial Stout,3,42,7.0,0.0,0.0,0,,...,2010-06-08 00:00:00,42,3,American-Style Stout,2010-06-15 19:25:11,1099,1161,43.4768,-110.7650,RANGE_INTERPOLATED
5,17,1023,Wiesen Edel Weisse,4,50,6.2,0.0,0.0,0,,...,2010-06-08 00:00:00,50,4,South German-Style Hefeweizen,2010-06-15 19:29:47,1023,1084,44.8902,-92.6378,RANGE_INTERPOLATED
6,20,483,Cow Palace Scotch Ale 1998,1,15,8.7,0.0,0.0,0,,...,2010-10-24 13:50:10,15,1,Scotch Ale,2010-06-15 19:16:54,483,517,54.9548,-1.6576,GEOMETRIC_CENTER
7,26,1220,Winter Ale,1,13,5.9,0.0,0.0,0,,...,2010-10-24 13:50:10,13,1,Old Ale,2010-06-15 19:16:40,1220,1288,44.5203,-72.0014,RANGE_INTERPOLATED
8,27,878,Full Moon Winter Ale,5,72,5.6,0.0,0.0,0,,...,2010-06-08 00:00:00,72,5,Other Belgian-Style Ales,2010-06-15 19:34:15,878,933,40.0150,-105.2710,APPROXIMATE
9,28,935,Odell IPA,3,31,7.0,0.0,0.0,0,,...,2010-06-08 00:00:00,31,3,American-Style India Pale Ale,2010-06-15 19:23:15,935,994,50.0878,14.4205,APPROXIMATE

In [10]:
df.columns

Index(['id', 'brewery_id', 'name', 'cat_id', 'style_id', 'abv', 'ibu', 'srm',
       'upc', 'filepath', 'descript', 'add_user', 'last_mod', 'id', 'name',
       'address1', 'address2', 'city', 'state', 'code', 'country', 'phone',
       'website', 'filepath', 'descript', 'add_user', 'last_mod', 'id',
       'cat_name', 'last_mod', 'id', 'cat_id', 'style_name', 'last_mod', 'id',
       'brewery_id', 'latitude', 'longitude', 'accuracy'],
      dtype='object')

In [12]:
df = pd.read_sql_query("show tables;", con=conn)
for table in df.Tables_in_workshop_db:
    _df = pd.read_sql_query(f"select * from {table};", con=conn)
    _df.to_csv(f"/data/{table}.csv", index=False)

/tmp/ipykernel_144/3426438255.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("show tables;", con=conn)
/tmp/ipykernel_144/3426438255.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _df = pd.read_sql_query(f"select * from {table};", con=conn)

In [13]:
df = pd.read_sql_query("select * from breweries_geocode limit 1;", con=conn)
df

/tmp/ipykernel_144/464961589.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from breweries_geocode limit 1;", con=conn)

   id  brewery_id  latitude  longitude accuracy
0   1           1   30.2234   -97.7697  ROOFTOP

In [14]:
with open("/datasets/beers/beers.sql") as f:
    cursor.execute("\n".join(f.readlines()))

In [15]:
conn.commit()

MySQLInterfaceError: Commands out of sync; you can't run this command now