In [1]:
import mysql.connector
import pandas as pd

In [18]:
from mysql.connector.errors import Error

In [48]:
# MySQL connection details
mysql_host = "mysql"
mysql_user = "workshop_user"
mysql_password = "workshop_password"
mysql_database = "workshop_db"

# Create a connection to the MySQL database
conn = mysql.connector.connect(
    host=mysql_host, user=mysql_user, password=mysql_password, database=mysql_database
)

In [49]:
cursor = conn.cursor()

In [ ]:
full_join_query = """SELECT *
FROM beers, breweries, categories, styles, breweries_geocode
WHERE TRUE
AND beers.brewery_id = breweries.id
AND beers.cat_id = categories.id
AND beers.style_id = styles.id
AND breweries.id = breweries_geocode.id
INTO OUTFILE '/var/lib/mysql-files/beers_full.csv' FIELDS TERMINATED BY ',' ENCLOSED BY '\"' LINES TERMINATED BY '\n'
;"""
cursor.execute(full_join_query)

In [53]:
full_join_query = """SELECT *
FROM beers, breweries, categories, styles, breweries_geocode
WHERE TRUE
AND beers.brewery_id = breweries.id
AND beers.cat_id = categories.id
AND beers.style_id = styles.id
AND breweries.id = breweries_geocode.id
LIMIT 1
;"""
df = pd.read_sql_query(full_join_query, con=conn)
df

/tmp/ipykernel_455/1724575695.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(full_join_query, con=conn)

,id,brewery_id,name,cat_id,style_id,abv,ibu,srm,upc,filepath,...,last_mod,id,cat_id,style_name,last_mod,id,brewery_id,latitude,longitude,accuracy
0,1,812,Hocus Pocus,11,116,4.5,0.0,0.0,0,,...,2010-06-08,116,11,Light American Wheat Ale or Lager,2010-06-15 19:45:42,812,862,39.612,-105.019,ROOFTOP

In [54]:
df.columns

Index(['id', 'brewery_id', 'name', 'cat_id', 'style_id', 'abv', 'ibu', 'srm',
       'upc', 'filepath', 'descript', 'add_user', 'last_mod', 'id', 'name',
       'address1', 'address2', 'city', 'state', 'code', 'country', 'phone',
       'website', 'filepath', 'descript', 'add_user', 'last_mod', 'id',
       'cat_name', 'last_mod', 'id', 'cat_id', 'style_name', 'last_mod', 'id',
       'brewery_id', 'latitude', 'longitude', 'accuracy'],
      dtype='object')

In [37]:
df = pd.read_sql_query("show tables;", con=conn)
for table in df.Tables_in_workshop_db:
    _df = pd.read_sql_query(f"select * from {table};", con=conn)
    _df.to_csv(f"/data/{table}.csv", index=False)

/tmp/ipykernel_455/127590199.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  _df = pd.read_sql_query(f"select * from {table};", con=conn)

In [40]:
df = pd.read_sql_query("select * from breweries_geocode limit 1;", con=conn)
df

/tmp/ipykernel_455/464961589.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("select * from breweries_geocode limit 1;", con=conn)

   id  brewery_id  latitude  longitude accuracy
0   1           1   30.2234   -97.7697  ROOFTOP

In [4]:
with open("/datasets/beers/beers.sql") as f:
    cursor.execute("\n".join(f.readlines()))

In [5]:
conn.commit()

MySQLInterfaceError: Commands out of sync; you can't run this command now